<!-- start custom head snippets -->


<link rel="shortcut icon" type="image/x-icon" href="https://danhphan.github.io/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://danhphan.github.io/images/apple-touch-icon-144-precomposed.png">

<script src="//d3js.org/d3.v3.min.js"></script>
<script>
function hideBlock(id) {
  document.getElementById(id).style.display = 'none';
}
function showBlock(id) {
  document.getElementById(id).style.display = 'block';
}
</script>


  <script type="text/javascript" src="vis.js"></script>
  <link href="vis.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
      #mynetwork {
          width: 500px;
          height: 400px;
          border: 1px solid lightgray;
      }
      p {
          max-width: 600px;
      }
  </style>
<!-- end custom head snippets -->
