---
layout: single
author_profile: true
---

{% include base_path %}

<h2>News</h2>
<div id="news">
  {% for item in site.data.news.main %}
  <p><strong><font class="new">NEW! </font></strong>{{ item | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('news'); showBlock('allnews'); return false;" class="btn btn--inverse">More</a>
</div>
<div id="allnews" style="display: none;">
  {% for item in site.data.news.all %}
  <p><strong><font class="new">NEW! </font></strong>{{ item | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('allnews'); showBlock('news'); return false;" class="btn btn--inverse">Less</a>
</div>

<h2 style="clear: both;" id="publications">Publications</h2>
<!-- Keep One list of publications, Hide year title -->
<!-- <h3>2019</h3> -->
{% for publication in site.data.publications.year2019 %}
  {% include publication-single.html %}
{% endfor %}
<div style="clear: both;"></div>

<!-- danpph - Hide other publications -->
<!-- <h3>2018</h3>
{% for publication in site.data.publications.year2018 %}
  {% include publication-single.html %}
{% endfor %}
<div style="clear: both;"></div>
<h3>2016/2017</h3>
{% for publication in site.data.publications.year2017 %}
  {% include publication-single.html %}
{% endfor %}
<div style="clear: both;"></div>
<h3>PhD Thesis</h3>
{% for publication in site.data.publications.thesis %}
  {% include publication-single.html %}
{% endfor %}
<div style="clear: both;"></div>
<h3>Undergrad</h3>
{% for publication in site.data.publications.undergrad %}
  {% include publication-single.html %}
{% endfor %}
<div style="clear: both;"></div>
 -->
<!-- Danph - Disable presentations -->
<!-- <h2 id="presentations">Presentations</h2>
<div class="fitvidsignore"> 
 <p><a href="https://youtu.be/RjEMJIsRWAo">Three Minute Thesis (3MT) Talk - The Language of Sight</a>. ANU 3MT Finalist, September 2017.</p>
  <iframe width="230" height="120" src="https://www.youtube.com/embed/RjEMJIsRWAo" frameborder="0" allowfullscreen></iframe>
</div>
{% for item in site.data.presentations.main %}
  {{ item | markdownify}}
{% endfor %} -->

<h2 id="bio">Bio</h2>
{% include timeline.html %}

<h2 id="projects">Projects</h2>
<div>
  Coming soon!
</div>
<!-- <div>
  <article class="publication__item" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="publication__item-teaser" style="margin-top: 1em;">
      <img itemprop="image" src="/images/FrameFish.jpg"  alt="">
    </div>
    <div class="publication__item-text">
      <h2 class="publication__item-title" itemprop="headline">FrameFish</h2>
      <p>FrameFish is an eyewear virtual try-on system for ecommerce websites. At the time of development it was much faster to load and respond than competing systems, which took around 10 seconds to generate a virtual-try-on image (FrameFish takes about 1 second). FrameFish received an Innovate NSW grant and has been featured on Sky Business News and in the UNSW Young Entrepreneurs series.</p>
    </div>
  </article>
</div> -->

