{% include base_path %}

<div id="timeline">
  <div class="timelineitem">
    <div class="tdate">2018</div>
    <h3 class="ttitle">Casual Academic, Macquarie University</h3>
    <div class="tdesc">Tutored and consulted students on two subjects: 
      <a href="https://unitguides.mq.edu.au/unit_offerings/91220/unit_guide" target="_blank">ITEC601</a>, 
      <a href="https://unitguides.mq.edu.au/unit_offerings/91943/unit_guide" target="_blank">ITEC602</a>.
    </div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2018</div>
    <h3 class="ttitle">Data Analyst Intern, <a href="https://www.domain.com.au" target="_blank">Domain Group</a></h3>
    <div class="tdesc">Developed customer clustering models; Performed data analysis using SQL, Python</div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2017 - 2018</div>
    <h3 class="ttitle">Master of Information Technology, Macquarie University</h3>
    <div class="tdesc">Macquarie University <a href="https://students.mq.edu.au/admin/scholarships-and-financial-support/high-achievers" target="_blank">Award for Academic Excellence</a>.</div>
    
  </div>
  <div class="timelineitem">
   <div class="tdate">2013 - 2016</div>
    <h3 class="ttitle">IT Specialist, Dept. of Information and Communications of NgheAn</h3>
    <div class="tdesc">Wrote, evaluated technical specifications, and IT project proposals; Maintained several applications and databases.</div>
  </div>
  <div class="timelineitem">
   <div class="tdate">2012 - 2013</div>
    <h3 class="ttitle">IT Specialist, People’s Committee of Vinh city</h3>
    <div class="tdesc">Developed and administered database systems and an online portal; Analysed, assessed, and maintained online public services.</div>
  </div>  
  <div class="timelineitem">
   <div class="tdate">2011 - 2011</div>
    <h3 class="ttitle">Senior Software Engineer, Vega Corp</h3>
    <div class="tdesc">Designed application’s architectures and databases; Developed, and tested music services applications.</div>
  </div>
  <div class="timelineitem">
   <div class="tdate">2010 - 2011</div>
    <h3 class="ttitle">Software Engineer, Vpoint JSC</h3>
    <div class="tdesc">Analysed and designed smartphones application features; Designed, developed and implemented databases and web services.</div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2005 - 2010</div>
    <h3 class="ttitle">Bachelor of Information Technology, Hanoi University of Science and Technology (HUST)</h3>
    <div class="tdesc">Award for Excellent Study Result</div>
  </div>
</div>
